Repository helmuthdu/web-components: changes, and which lefthook commands are due for each by the changed paths.
All: lint:assets, lint:styles, lint:scripts, test:unit

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:assets:
      glob: '*.{html,json,yml}'
      run: npx prettier --write {staged_files}
    lint:styles:
      glob: '*.{css,scss}'
      run: >
        npx prettier --write {staged_files} &&
        npx stylelint --fix {staged_files}
    lint:scripts:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx prettier --write {staged_files} && 
        npx eslint --fix {staged_files} && 
        npx vitest related {staged_files} --passWithNoTests --run
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx prettier --write {staged_files} &&
        npx eslint --fix {staged_files} &&
        npx vitest {staged_files} --run

fix: css improvements for the alert
  packages/ui/src/components/alert/alert.css
Due: lint:styles

fix: css improvements for the badge
  packages/ui/src/components/badge/badge.css
Due: lint:styles

fix: minor css improvements
  packages/ui/src/components/badge/badge.css
  packages/ui/src/components/card/card.css
  packages/ui/src/components/carousel/carousel.css
Due: lint:styles

chore: removed append prop
  packages/ui/index.html
  packages/ui/src/components/accordion/accordion-group.tsx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/alert/alert.stories.mdx
  packages/ui/src/components/alert/alert.tsx
  packages/ui/src/components/avatar/avatar-group.tsx
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/badge/badge.tsx
  packages/ui/src/components/card/card-body.tsx
  packages/ui/src/components/card/card-footer.tsx
  packages/ui/src/components/card/card-header.tsx
  packages/ui/src/components/card/card-image.tsx
  packages/ui/src/components/card/card-meta.tsx
  packages/ui/src/components/card/card.stories.mdx
  packages/ui/src/components/card/card.tsx
  packages/ui/src/components/carousel/carousel-item.tsx
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/elements/box/box.tsx
  packages/ui/src/elements/button/button.tsx
  packages/ui/src/lib/custom-element.ts
Due: lint:assets, lint:scripts

chore: update package.json
  package.json
  packages/ui/package.json
Due: lint:assets

chore: improved animation
  packages/ui/src/components/toast/toast.css
  packages/ui/src/components/toast/toast.stories.mdx
  packages/ui/src/components/toast/toast.tsx
Due: lint:styles, lint:scripts

chore: minor changes
  packages/ui/src/lib/create-element.ts
Due: lint:scripts

chore: update dependencies
  package.json
  packages/ui/package.json
Due: lint:assets

chore: fix lint error
  packages/ui/src/components/toast/toast.stories.mdx
Due: none

chore: fix stylelint errors
  .stylelintignore
  .stylelintrc
  package.json
  packages/ui/src/common/close-button/close-button.css
  packages/ui/src/components/accordion/accordion-group.css
  packages/ui/src/components/accordion/accordion.css
  packages/ui/src/components/alert/alert.css
  packages/ui/src/components/avatar/avatar.css
  packages/ui/src/components/badge/badge.css
  packages/ui/src/components/card/card-body.css
  packages/ui/src/components/card/card-foot.css
  packages/ui/src/components/card/card-header.css
  packages/ui/src/components/card/card-image.css
  packages/ui/src/components/card/card-meta.css
  packages/ui/src/components/card/card.css
  packages/ui/src/components/carousel/carousel-item.css
  packages/ui/src/components/carousel/carousel.css
  packages/ui/src/components/toast/toast.css
  packages/ui/src/elements/box/box.css
  packages/ui/src/elements/button/button.css
  packages/ui/src/styles/preflight.css
Due: lint:assets, lint:styles

chore: update accordion
  packages/ui/src/components/accordion/accordion-group.css
  packages/ui/src/components/accordion/accordion-group.tsx
  packages/ui/src/components/accordion/accordion-item.css
  packages/ui/src/components/accordion/accordion-item.tsx
  packages/ui/src/components/accordion/accordion.css
  packages/ui/src/components/accordion/accordion.stories.mdx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/env.d.ts
Due: lint:styles, lint:scripts

chore: styles cleanup changes
  packages/ui/src/components/accordion/accordion.css
  packages/ui/src/components/alert/alert.css
  packages/ui/src/components/carousel/carousel.css
  packages/ui/src/components/toast/toast.css
  packages/ui/src/styles/preflight.css
Due: lint:styles

fix: build error
  packages/ui/vite.lib.config.js
Due: lint:scripts

chore: update dependencies
  .nvmrc
  package.json
  packages/ui/package.json
Due: lint:assets

feat: new html elements helper
  packages/ui/src/lib/html-elements.ts
Due: none

chore: code cleanup
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/alert/alert.tsx
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/badge/badge.tsx
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/elements/button/button-group.tsx
  packages/ui/src/elements/button/button.tsx
  packages/ui/src/lib/custom-element.ts
Due: lint:scripts

chore: update dependencies
  package.json
  packages/ui/.nvmrc
  packages/ui/package.json
Due: lint:assets

chore: revert lib change
  packages/ui/src/lib/custom-element.ts
Due: lint:scripts

chore: removed theme from loading globally in storybook
  packages/ui/.storybook/preview.js
Due: lint:scripts

fix: lint error
  packages/ui/src/styles/styles.css
Due: lint:styles

chore: minor changes
  packages/ui/src/components/accordion/accordion-item.css
  packages/ui/src/components/accordion/accordion-item.tsx
  packages/ui/src/components/accordion/accordion.css
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/alert/alert.tsx
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/elements/close-button/close-button.css
  packages/ui/src/elements/close-button/close-button.tsx
  packages/ui/src/elements/index.ts
  packages/ui/vite.lib.config.js
Due: lint:styles, lint:scripts

chore: code cleanup
  packages/ui/src/components/accordion/accordion-item.tsx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/alert/alert.tsx
  packages/ui/src/components/avatar/avatar-group.tsx
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/badge/badge.tsx
  packages/ui/src/components/card/card-body.tsx
  packages/ui/src/components/card/card-footer.tsx
  packages/ui/src/components/card/card-header.tsx
  packages/ui/src/components/card/card-image.tsx
  packages/ui/src/components/card/card-meta.tsx
  packages/ui/src/components/card/card.tsx
  packages/ui/src/components/carousel/carousel-item.tsx
  packages/ui/src/components/carousel/carousel.tsx
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/elements/box/box.tsx
  packages/ui/src/elements/button/button-group.tsx
  packages/ui/src/elements/button/button.tsx
Due: lint:scripts

chore: initial github actions integration
  .github/workflows/storybook.yml
  package.json
  packages/ui/package.json
  packages/ui/src/components/article/article.css
  packages/ui/src/components/article/article.stories.mdx
  packages/ui/src/components/article/article.tsx
  packages/ui/src/components/index.ts
Due: lint:assets, lint:styles, lint:scripts

chore: initial github actions integration
  .github/workflows/storybook.yml
Due: lint:assets

chore: update github actions
  .github/workflows/storybook.yml
Due: lint:assets

chore: update github actions
  package.json
Due: lint:assets

chore: fix storybook build
  .gitignore
  packages/ui/.storybook/public/.keep
Due: none

chore: added eslint github action
  .github/workflows/eslint.yml
Due: lint:assets

chore: update eslint github action
  .github/workflows/eslint.yml
Due: lint:assets

chore: added test github action
  .github/workflows/test.yml
  lefthook.yml
  packages/ui/package.json
  packages/ui/src/elements/box/box.test.tsx
  packages/ui/src/lib/create-element.ts
  packages/ui/src/lib/custom-element.ts
  packages/ui/vitest.config.js
Due: lint:assets, lint:scripts, test:unit

chore: update test github action
  .github/workflows/vitest.yml
Due: lint:assets
