Repository helmuthdu/web-components: changes, and which lefthook commands are due for each by the changed paths.
All: lint:assets, lint:styles, lint:scripts, test:unit

lint:assets:
  run: npx prettier --write {staged_files}

lint:styles:
  run: 'npx prettier --write {staged_files} && npx stylelint --fix {staged_files}
  
    '

lint:scripts:
  run: 'npx prettier --write {staged_files} &&  npx eslint --fix {staged_files} &&  npx vitest related {staged_files} --passWithNoTests --run
  
    '

test:unit:
  run: 'npx prettier --write {staged_files} && npx eslint --fix {staged_files} && npx vitest {staged_files} --run
  
    '

chore: added cache to github actions
  .github/workflows/eslint.yml
  .github/workflows/storybook.yml
  .github/workflows/vitest.yml
Due: lint:assets

chore: added cache to github actions
  .github/workflows/eslint.yml
Due: lint:assets

chore: update eslint github action
  .github/workflows/eslint.yml
Due: lint:assets

chore: update github actions
  .github/workflows/eslint.yml
  .github/workflows/storybook.yml
  .github/workflows/vitest.yml
Due: lint:assets

fix: added package-lock file
  .gitignore
  package-lock.json
Due: lint:assets

chore: update package-lock.json
  package-lock.json
Due: lint:assets

chore: fix missing package
  package-lock.json
  package.json
Due: lint:assets

feat: upgrade storybook to v7
  .stylelintrc
  .vscode/tasks.json
  package-lock.json
  package.json
  packages/ui/.storybook/main.js
  packages/ui/.storybook/manager.js
  packages/ui/.storybook/preview.js
  packages/ui/.storybook/theme.js
  packages/ui/package.json
  packages/ui/src/lib/custom-element.ts
Due: lint:assets, lint:scripts

chore: code cleanup
  .fleet/settings.json
  .nvmrc
  package-lock.json
  package.json
  packages/ui/.nvmrc
  packages/ui/.storybook/preview-head.html
  packages/ui/package.json
  packages/ui/src/components/accordion/accordion-item.tsx
  packages/ui/src/components/accordion/accordion.stories.mdx
  packages/ui/src/components/accordion/accordion.tsx
  packages/ui/src/components/alert/alert.tsx
  packages/ui/src/components/article/article.tsx
  packages/ui/src/components/avatar/avatar-group.tsx
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/badge/badge.tsx
  packages/ui/src/components/card/card-body.tsx
  packages/ui/src/components/card/card-footer.tsx
  packages/ui/src/components/card/card-header.tsx
  packages/ui/src/components/card/card-image.tsx
  packages/ui/src/components/card/card-meta.tsx
  packages/ui/src/components/card/card.tsx
  packages/ui/src/components/carousel/carousel-item.tsx
  packages/ui/src/components/carousel/carousel.stories.mdx
  packages/ui/src/components/carousel/carousel.tsx
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/elements/box/box.tsx
  packages/ui/src/elements/button/button-group.tsx
  packages/ui/src/elements/close-button/close-button.tsx
  packages/ui/src/lib/custom-element.ts
  packages/ui/vite.config.js
  packages/ui/vite.lib.config.js
Due: lint:assets, lint:scripts

chore: update dependencies + configs
  .nvmrc
  .stylelintrc
  package-lock.json
  package.json
  packages/ui/.nvmrc
  packages/ui/package.json
  packages/ui/src/components/accordion/accordion-item.css
  packages/ui/src/components/accordion/accordion.css
  packages/ui/src/components/alert/alert.css
  packages/ui/src/components/article/article.css
  packages/ui/src/components/badge/badge.css
  packages/ui/src/components/card/card-body.css
  packages/ui/src/components/card/card-foot.css
  packages/ui/src/components/card/card-header.css
  packages/ui/src/components/card/card-image.css
  packages/ui/src/components/card/card-meta.css
  packages/ui/src/components/card/card.css
  packages/ui/src/components/carousel/carousel-item.css
  packages/ui/src/components/carousel/carousel.css
  packages/ui/src/components/toast/toast.css
  packages/ui/src/elements/button/button.css
  packages/ui/src/elements/close-button/close-button.css
  packages/ui/src/styles/animation.css
  packages/ui/src/styles/preflight.css
Due: lint:assets, lint:styles

fix: linter issues
  packages/ui/index.html
  packages/ui/src/styles/preflight.css
  packages/ui/src/vite-env.d.ts
Due: lint:assets, lint:styles, lint:scripts

fix: fix build
  package.json
  packages/ui/postcss.config.js
Due: lint:assets, lint:scripts

chore: update dependencies
  .gitignore
  .npmrc
  package-lock.json
  package.json
  packages/ui/package.json
Due: lint:assets

chore: update github workflows
  .github/workflows/eslint.yml
  .github/workflows/storybook.yml
  .github/workflows/vitest.yml
Due: lint:assets

chore: fix eslint report on github
  .fleet/settings.json
  .gitignore
  .nvmrc
  eslint.config.mjs
  package.json
Due: lint:assets

feat: add time feedback to carousel navigation
  packages/ui/src/components/carousel/__docs__/carousel.stories.js
  packages/ui/src/components/carousel/carousel.css
  packages/ui/src/components/carousel/carousel.ts
Due: lint:styles, lint:scripts

refactor: enhance type safety in web component utilities
  packages/ui/src/utils/create-element.util.ts
  packages/ui/src/utils/custom-element.util.ts
  packages/ui/src/utils/styling-element.util.ts
Due: lint:scripts

refactor: enhance article component
  packages/ui/src/components/article/__docs__/article.mdx
  packages/ui/src/components/article/__docs__/article.stories.js
  packages/ui/src/components/article/article.css
  packages/ui/src/components/article/article.ts
Due: lint:styles

chore: update theme
  packages/ui/src/styles/theme.css
Due: lint:styles

refactor: simplify avatar component style handling and improve CSS variable management
  packages/ui/src/components/avatar/avatar-image.css
  packages/ui/src/components/avatar/avatar-image.ts
  packages/ui/src/components/avatar/avatar-text.css
  packages/ui/src/components/avatar/avatar-text.ts
Due: lint:styles, lint:scripts

refactor: update Vite version and improve article component spacing
  package.json
  packages/ui/package.json
  packages/ui/src/components/article/article.css
  packages/ui/src/styles/theme.css
Due: lint:assets, lint:styles

refactor: enhance article component layout and styling, update theme variables
  .storybook/preview.ts
  .storybook/theme.ts
  packages/ui/src/components/article/__docs__/article.stories.js
  packages/ui/src/components/article/article.css
  packages/ui/src/styles/theme.css
Due: lint:styles, lint:scripts

refactor: update article component image source and adjust header margin
  packages/ui/src/components/article/__docs__/article.stories.js
  packages/ui/src/components/article/article.css
Due: lint:styles

refactor: replace event listener management with AbortController for better memory management
  packages/ui/src/utils/custom-element.util.ts
Due: lint:scripts

refactor: update dependencies and improve article component structure and styling
  package.json
  packages/ui/package.json
  packages/ui/src/components/article/__docs__/article.stories.js
  packages/ui/src/components/article/article.css
  packages/ui/src/components/article/article.ts
  packages/ui/src/elements/button/button.ts
  packages/ui/src/utils/custom-element.util.ts
  packages/ui/src/utils/styling-element.util.ts
Due: lint:assets, lint:styles, lint:scripts

feat: upgrade storybook to version 9
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  .storybook/theme.ts
  package.json
  packages/ui/package.json
  packages/ui/src/components/accordion/__docs__/accordion.mdx
  packages/ui/src/components/alert/__docs__/alert.mdx
  packages/ui/src/components/article/__docs__/article.mdx
  packages/ui/src/components/avatar/__docs__/avatar.mdx
  packages/ui/src/components/badge/__docs__/badge.mdx
  packages/ui/src/components/card/__docs__/card.mdx
  packages/ui/src/components/carousel/__docs__/carousel.mdx
  packages/ui/src/components/toast/__docs__/toast.mdx
  packages/ui/src/elements/box/__docs__/box.mdx
  packages/ui/src/elements/button/__docs__/button.mdx
  packages/ui/src/elements/close-button/close-button.css
  packages/ui/vitest.config.ts
Due: lint:assets, lint:styles, lint:scripts

feat: new loading component
  packages/ui/src/components/loading/__docs__/loading.mdx
  packages/ui/src/components/loading/__docs__/loading.stories.js
  packages/ui/src/components/loading/loading.ts
Due: lint:scripts

refactor: update dev dependencies in root and UI package to latest versions
  package.json
  packages/ui/package.json
Due: lint:assets

refactor: migrate Storybook config to ESM and update background options structure
  .storybook/main.ts
  .storybook/preview.ts
Due: lint:scripts

refactor: improved accessibility
  packages/ui/src/components/accordion/accordion-item.ts
  packages/ui/src/components/alert/alert.ts
  packages/ui/src/components/avatar/avatar-group.ts
  packages/ui/src/components/avatar/avatar-image.ts
  packages/ui/src/components/avatar/avatar.ts
  packages/ui/src/components/card/card.ts
  packages/ui/src/components/carousel/carousel-image.ts
  packages/ui/src/components/carousel/carousel.ts
  packages/ui/src/components/loading/loading.ts
  packages/ui/src/components/toast/toast.ts
Due: lint:scripts

Path conditions:
  lint:assets: any of: *.{html,json,yml}
  lint:styles: any of: *.{css,scss}
  lint:scripts: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
